<div *ngIf="magicCard" class="magic-card">
    <div class="header">
        <h2 class="card-name">{{ magicCard.flavor_name }}</h2>
        <div *ngIf="magicCard.colors.length > 0" class="color-circles">
            <div *ngFor="let color of magicCard.colors" class="color-circle" [ngClass]="color"></div>
        </div>
    </div>
    <div class="card-image">
        <img [src]="magicCard.image_uris.normal" alt="{{ magicCard.name }}">
    </div>
    <div class="card-stats">
        <div *ngIf="magicCard.power" class="stat-circle power">{{ magicCard.power }}</div>
        <div *ngIf="magicCard.toughness" class="stat-circle toughness">{{ magicCard.toughness }}</div>
    </div>
</div>