<main class="content">
  <div class="title-container">
    <p class="title">{{ title }}</p>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: space-around; width: 200px;">
    <p>Connected: {{connectedNum}}</p>
    <p>Open: {{openInstances}}</p>
  </div>
  <app-tab-menu style="width: 100%;" (tabSelected)="onTabSelected($event)"></app-tab-menu>

  <ng-container [ngSwitch]="selectedComponent">
    <ng-container *ngSwitchCase="'app-card-viewer'">
      <app-cards-button></app-cards-button>
      <app-card-viewer class="card-viewer"></app-card-viewer>
    </ng-container>
    <app-list class="state-list" *ngSwitchCase="'app-state-viewer'"></app-list>
    <ng-container *ngSwitchCase="'app-instance-viewer'">
      <app-instance-viewer></app-instance-viewer>
    </ng-container>
  </ng-container>

</main>

<router-outlet />