.magicBtn {
    border-radius: 8px 50%;
    padding: 0.55em 1em 0.45em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-shadow: none;
    text-decoration: none;
    text-align: center;
    outline: none;
    border: 2px solid white;
    background: white;
    color: black;
    cursor: pointer;
}